// FONT
$font-family: 'Roboto', sans-serif;
$font-size: 1.1em;
$font-primary-color: #58402c;
$font-secondary-color: #2c4792;
$font-third-color: #fff;

// TEMPLATE
$primary-color: #fee7d1;
$secondary-color: #2c4792;
